<table class="large-sidebar">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
  </thead>
  <tbody>
    <% meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.name, meeting %></td>
        <td><%= meeting.location_name %></td>
        <td><%= meeting.start_time.strftime('%m-%d-%Y %I:%M%p') %></td>
        <td><%= meeting.end_time.strftime('%m-%d-%Y %I:%M%p') %></td>
      </tr>
    <% end %>
  </tbody>
</table>