/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require jquery.ui.datepicker
 *= require_tree .
 */

@import "compass/layout/sticky-footer";
@include sticky-footer(100px);
thead {background: #C59217;}
select { width: auto !important; }
.actions { float: left; }
#footer p {
  font-size: 13px;
  line-height: 18px;
}
.navigation {
  font-size: 1.15em !important;
  margin: 10px 0;
}
.edit-navigation {
  @extend .navigation;
  margin-left: 20px;
  margin-top: 17px;
  float: left;
}
.map-url{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#main_window, #sidebar {
  margin-top: 13px;
}
